/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 10px;
}

.article {
  margin: 25px 0 50px;
  text-align: center;
}

.damn-article {
  background-color: white;
}

p {
  font-family: sans-serif;
}

.legende {
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  font-weight: 800;
}

span {
  font-weight: 500;
  color: #B3B3B3;
}
